<h1>This <%= @Vendor.name %>'s Products</h1>

<%= link_to "New Product", new_vendor_product_path(@vendor) %>

<% @products.each do |product| %>
  <div class="product">
    <p><%= product.category %></p>
    <p><%= product.authorName %></p>
  </div>
<% end %>
